body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5vw;
    margin: 5px;
}

.fc table {
    font-size: 1.5vw;
}

.formation, .formation::before {
    background-color: #ccffcd;
}

.comite, .comite::before {
    background-color: #ffeccc;
}

.evenements, .evenements::before {
    background-color: #f0c3fa;
}

.velocentrix, .velocentrix::before {
    background-color: #AFEEEE;
}

#legend {
    position: fixed;
    top: 200px;
    right: 30px;
    background: white;
    border: 1px solid;
    padding:10px;
}

#legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background: none;
}

#legend li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}